In [1]:
print('hello')

hello

In [2]:
import pandas as pd

In [5]:
df=pd.read_csv("BTech_2020-converted.csv")
df

,JEE(Adv) Roll No.,IITG Roll No.,Name,Programme
0,Preparatory 2019,200106050,PRAGYA THAKUR,Biosciences and Bioengineering
1,Preparatory 2019,200122017,BANOTH MANASACHANDRA,Chemical Science and Technology
2,Preparatory 2019,200104060,MD SHADAB ALAM,Civil Engineering
3,Preparatory 2019,200104108,SUBHRANSU SEKHAR KHUNTIA,Civil Engineering
4,Preparatory 2019,200102093,SWASTI,Electronics and Communication Engineering
...,...,...,...,...
886,7084130,200108056,VATAN NARANG,Electronics and Electrical Engineering
887,7084250,200106054,RUCHIKA RUHELA,Biosciences and Bioengineering
888,7085012,200108001,AASTHA SINGH,Electronics and Electrical Engineering
889,7088245,200123025,JASH KUMAR ROY,Mathematics and Computing
890,7089004,200121035,NIHARIKA SINGH,Engineering Physics

In [7]:
df.Name.value_counts()

VISHAL KUMAR        3
DEEPANSHU           2
PIYUSH KUMAR        2
SUMIT KUMAR         2
ARYAN SINGH         2
                   ..
SARTHAK AGASHE      1
AYUSHI ANAND        1
JUMAN DAS           1
NITESH SINGH        1
PRANJAL BARANWAL    1
Name: Name, Length: 878, dtype: int64

In [9]:
df.Name[0].split(" ")

['PRAGYA', 'THAKUR']

In [13]:
df.drop(df[df.Programme !="Computer Science and Engineering"].index, inplace=True)
df1 = df.reset_index(drop=True)
df1

,JEE(Adv) Roll No.,IITG Roll No.,Name,Programme
0,1004120,200101076,PATEL HETANG SANJAYKUMAR,Computer Science and Engineering
1,1013044,200101008,ADITYA PATEL,Computer Science and Engineering
2,1026015,200101075,PATEL BHOOMIRAJ RANJITBHAI,Computer Science and Engineering
3,1027062,200101107,VIRAJ GOYANKA,Computer Science and Engineering
4,1031218,200101085,PRANSHU,Computer Science and Engineering
...,...,...,...,...
109,7039124,200101016,ANMOLDEEP SINGH,Computer Science and Engineering
110,7048092,200101013,AMIT SINGH NAGNYAL,Computer Science and Engineering
111,7067036,200101033,GAURAV KUMAR,Computer Science and Engineering
112,7078128,200101044,HRIDYANSHU KUMAR,Computer Science and Engineering
113,7083080,200101006,ABHISHEK KUMAR,Computer Science and Engineering

In [18]:
df1.sort_values("Name", axis = 0, ascending = True, 
                 inplace = True, na_position ='last') 
# df1.sort_values(by="Name"), 
                 
df1

,JEE(Adv) Roll No.,IITG Roll No.,Name,Programme
41,2102273,200101001,AADARSHRAJ SAH,Computer Science and Engineering
26,2055894,200101002,AADI AARYA CHANDRA,Computer Science and Engineering
86,6110009,200101003,ABBURI CHARISHMA,Computer Science and Engineering
36,2100022,200101004,ABHINAV AYUSH,Computer Science and Engineering
47,3013247,200101005,ABHINAV KUMAR CHOUDHARY,Computer Science and Engineering
...,...,...,...,...
40,2101321,200101110,VISHAL MEENA,Computer Science and Engineering
76,6042052,200101111,YAKKALA HEMA VENKAT RAO,Computer Science and Engineering
37,2100085,200101112,YASH AGARWAL,Computer Science and Engineering
105,7026161,200101113,YASH GARG,Computer Science and Engineering
85,6105031,200101114,YENUGONDA SUMA SHREE,Computer Science and Engineering

In [20]:
df1.sort_values(by=IITG Roll No."), 
                 
df1

,JEE(Adv) Roll No.,IITG Roll No.,Name,Programme
41,2102273,200101001,AADARSHRAJ SAH,Computer Science and Engineering
26,2055894,200101002,AADI AARYA CHANDRA,Computer Science and Engineering
86,6110009,200101003,ABBURI CHARISHMA,Computer Science and Engineering
36,2100022,200101004,ABHINAV AYUSH,Computer Science and Engineering
47,3013247,200101005,ABHINAV KUMAR CHOUDHARY,Computer Science and Engineering
...,...,...,...,...
40,2101321,200101110,VISHAL MEENA,Computer Science and Engineering
76,6042052,200101111,YAKKALA HEMA VENKAT RAO,Computer Science and Engineering
37,2100085,200101112,YASH AGARWAL,Computer Science and Engineering
105,7026161,200101113,YASH GARG,Computer Science and Engineering
85,6105031,200101114,YENUGONDA SUMA SHREE,Computer Science and Engineering

In [28]:
df1.sort_values(by='JEE(Adv) Roll No.') 
                 
df1

,JEE(Adv) Roll No.,IITG Roll No.,Name,Programme
41,2102273,200101001,AADARSHRAJ SAH,Computer Science and Engineering
26,2055894,200101002,AADI AARYA CHANDRA,Computer Science and Engineering
86,6110009,200101003,ABBURI CHARISHMA,Computer Science and Engineering
36,2100022,200101004,ABHINAV AYUSH,Computer Science and Engineering
47,3013247,200101005,ABHINAV KUMAR CHOUDHARY,Computer Science and Engineering
...,...,...,...,...
40,2101321,200101110,VISHAL MEENA,Computer Science and Engineering
76,6042052,200101111,YAKKALA HEMA VENKAT RAO,Computer Science and Engineering
37,2100085,200101112,YASH AGARWAL,Computer Science and Engineering
105,7026161,200101113,YASH GARG,Computer Science and Engineering
85,6105031,200101114,YENUGONDA SUMA SHREE,Computer Science and Engineering

In [35]:
df2=df1.reset_index()
df2

,index,JEE(Adv) Roll No.,IITG Roll No.,Name,Programme
0,41,2102273,200101001,AADARSHRAJ SAH,Computer Science and Engineering
1,26,2055894,200101002,AADI AARYA CHANDRA,Computer Science and Engineering
2,86,6110009,200101003,ABBURI CHARISHMA,Computer Science and Engineering
3,36,2100022,200101004,ABHINAV AYUSH,Computer Science and Engineering
4,47,3013247,200101005,ABHINAV KUMAR CHOUDHARY,Computer Science and Engineering
...,...,...,...,...,...
109,40,2101321,200101110,VISHAL MEENA,Computer Science and Engineering
110,76,6042052,200101111,YAKKALA HEMA VENKAT RAO,Computer Science and Engineering
111,37,2100085,200101112,YASH AGARWAL,Computer Science and Engineering
112,105,7026161,200101113,YASH GARG,Computer Science and Engineering
113,85,6105031,200101114,YENUGONDA SUMA SHREE,Computer Science and Engineering

In [33]:
df2.index

RangeIndex(start=0, stop=114, step=1)

In [37]:
df2.index+=1
df2.index
df2

,index,JEE(Adv) Roll No.,IITG Roll No.,Name,Programme
1,41,2102273,200101001,AADARSHRAJ SAH,Computer Science and Engineering
2,26,2055894,200101002,AADI AARYA CHANDRA,Computer Science and Engineering
3,86,6110009,200101003,ABBURI CHARISHMA,Computer Science and Engineering
4,36,2100022,200101004,ABHINAV AYUSH,Computer Science and Engineering
5,47,3013247,200101005,ABHINAV KUMAR CHOUDHARY,Computer Science and Engineering
...,...,...,...,...,...
110,40,2101321,200101110,VISHAL MEENA,Computer Science and Engineering
111,76,6042052,200101111,YAKKALA HEMA VENKAT RAO,Computer Science and Engineering
112,37,2100085,200101112,YASH AGARWAL,Computer Science and Engineering
113,105,7026161,200101113,YASH GARG,Computer Science and Engineering
114,85,6105031,200101114,YENUGONDA SUMA SHREE,Computer Science and Engineering

In [36]:
df2

,index,JEE(Adv) Roll No.,IITG Roll No.,Name,Programme
0,41,2102273,200101001,AADARSHRAJ SAH,Computer Science and Engineering
1,26,2055894,200101002,AADI AARYA CHANDRA,Computer Science and Engineering
2,86,6110009,200101003,ABBURI CHARISHMA,Computer Science and Engineering
3,36,2100022,200101004,ABHINAV AYUSH,Computer Science and Engineering
4,47,3013247,200101005,ABHINAV KUMAR CHOUDHARY,Computer Science and Engineering
...,...,...,...,...,...
109,40,2101321,200101110,VISHAL MEENA,Computer Science and Engineering
110,76,6042052,200101111,YAKKALA HEMA VENKAT RAO,Computer Science and Engineering
111,37,2100085,200101112,YASH AGARWAL,Computer Science and Engineering
112,105,7026161,200101113,YASH GARG,Computer Science and Engineering
113,85,6105031,200101114,YENUGONDA SUMA SHREE,Computer Science and Engineering

In [39]:
pd.set_option("display.max_rows", None, "display.max_columns", None)
df2

,index,JEE(Adv) Roll No.,IITG Roll No.,Name,Programme
1,41,2102273,200101001,AADARSHRAJ SAH,Computer Science and Engineering
2,26,2055894,200101002,AADI AARYA CHANDRA,Computer Science and Engineering
3,86,6110009,200101003,ABBURI CHARISHMA,Computer Science and Engineering
4,36,2100022,200101004,ABHINAV AYUSH,Computer Science and Engineering
5,47,3013247,200101005,ABHINAV KUMAR CHOUDHARY,Computer Science and Engineering
6,113,7083080,200101006,ABHISHEK KUMAR,Computer Science and Engineering
7,52,4003180,200101007,ADARSH MALVIYA,Computer Science and Engineering
8,1,1013044,200101008,ADITYA PATEL,Computer Science and Engineering
9,54,4009314,200101009,ADITYA PATIDAR,Computer Science and Engineering
10,7,1042034,200101010,ADVAITA MALLIK,Computer Science and Engineering
11,38,2100351,200101011,AKSHAT MITTAL,Computer Science and Engineering
12,53,4008280,200101012,AMAN SONI,Computer Science and Engineering
13,110,7048092,200101013,AMIT SINGH NAGNYAL,Computer Science and Engineering
14,27,2057209,200101014,AMJED PARVAIZ,Computer Science and Engineering
15,30,2081373,200101015,ANINDYA VIJAYVARGEEYA,Computer Science and Engineering
16,109,7039124,200101016,ANMOLDEEP SINGH,Computer Science and Engineering
17,61,4041137,200101017,ANURAG RAVI,Computer Science and Engineering
18,42,2108004,200101018,ARPAN ANIL KHANDARE,Computer Science and Engineering
19,95,6229003,200101019,ARTHI SAI AKSHITH,Computer Science and Engineering
20,93,6225013,200101020,ARYA AVINASH PHADKE,Computer Science and Engineering
21,99,6277026,200101021,ASHWITHA BANOTH,Computer Science and Engineering
22,57,4032032,200101022,AYAN GAUTAM,Computer Science and Engineering
23,88,6189010,200101023,BACHALAKURI SAMUEL SUNNY KUMAR,Computer Science and Engineering
24,106,7026522,200101024,BHANU RAJPUT,Computer Science and Engineering
25,94,6227055,200101025,BILLA PRAMODH,Computer Science and Engineering
26,81,6087137,200101026,BOKKA SRIVIDYA,Computer Science and Engineering
27,90,6196098,200101027,CHIGARAPALLY CHANDRABHUSHAN REDDY,Computer Science and Engineering
28,104,7026057,200101028,DEEP KAUR,Computer Science and Engineering
29,103,7012436,200101029,DHANANJAI,Computer Science and Engineering
30,97,6271130,200101030,GANDRATHI SRIJA,Computer Science and Engineering
31,78,6072005,200101031,GANJI PALA VENKI REDDY,Computer Science and Engineering
32,92,6223201,200101032,GANNOJU MANIDEEPAK,Computer Science and Engineering
33,111,7067036,200101033,GAURAV KUMAR,Computer Science and Engineering
34,13,1088021,200101034,GHONGADE ROHIT KANBA,Computer Science and Engineering
35,83,6094030,200101035,GUDLA MAHESH SAI RAJ,Computer Science and Engineering
36,98,6275101,200101036,GUNDAMEEDI SAI RAM MOHAN,Computer Science and Engineering
37,19,1143204,200101037,GUNJAL OM SAHEBRAO,Computer Science and Engineering
38,50,3077017,200101038,GUNJAN DHANUKA,Computer Science and Engineering
39,46,2120129,200101039,HARSHITA KABRA,Computer Science and Engineering
40,14,1088033,200101040,HARSHWARDHAN NITIN BHAKKAD,Computer Science and Engineering
41,33,2094002,200101041,HEMANT KUMAR MEENA,Computer Science and Engineering
42,48,3017100,200101042,HIMANSHU SHEKHAR,Computer Science and Engineering
43,43,2110115,200101043,HIMANSHU YADAV,Computer Science and Engineering
44,112,7078128,200101044,HRIDYANSHU KUMAR,Computer Science and Engineering
45,108,7037149,200101045,ISHITA SHASHNI,Computer Science and Engineering
46,87,6185363,200101046,JERAM NIHARIKA,Computer Science and Engineering
47,75,6042019,200101047,KAKUNURI MANIDEEP REDDY,Computer Science and Engineering
48,77,6067003,200101048,KALANGI SATHVIKA,Computer Science and Engineering
49,82,6088044,200101049,KANCHUMARTHI H PRAVALLIKA,Computer Science and Engineering
50,64,5010115,200101050,KANDULA SRAVYA,Computer Science and Engineering
51,79,6076231,200101051,KAPULURU VIKAS REDDY,Computer Science and Engineering
52,74,6031069,200101052,KARRI SAI VAMSHI,Computer Science and Engineering
53,59,4034111,200101053,KARTIK MALASIYA,Computer Science and Engineering
54,16,1102305,200101054,KARTIK SHARMA,Computer Science and Engineering
55,56,4015021,200101055,KARTIKEY GUPTA,Computer Science and Engineering
56,96,6265081,200101056,KILAPARTHI HEEMANTH,Computer Science and Engineering
57,68,5028146,200101057,KIRTI BANSODE,Computer Science and Engineering
58,73,6020001,200101058,KOTHAPALLI KUMUDHAVALLI,Computer Science and Engineering
59,65,5013070,200101059,LENKA LOHITH,Computer Science and Engineering
60,28,2072134,200101060,LOKESH NAHAR,Computer Science and Engineering
61,9,1052025,200101061,M SAMSON,Computer Science and Engineering
62,15,1101168,200101062,MAHEK BHAVESH VORA,Computer Science and Engineering
63,45,2119011,200101063,MANAN PARIHAR,Computer Science and Engineering
64,34,2095056,200101064,MANSI,Computer Science and Engineering
65,71,5054132,200101065,MIHIR SAGAR,Computer Science and Engineering
66,67,5027015,200101066,MINALI MANHAR,Computer Science and Engineering
67,25,2049096,200101067,MOHIT KUMAR,Computer Science and Engineering
68,22,2033031,200101068,MUKUL,Computer Science and Engineering
69,102,7008027,200101069,MUKUL LAKRA,Computer Science and Engineering
70,24,2039010,200101070,NAMAN ANAND,Computer Science and Engineering
71,89,6192357,200101071,NANDIGRAMA NAGA VENKATA HAREESH,Computer Science and Engineering
72,84,6099062,200101072,PAIDE ASHISH,Computer Science and Engineering
73,5,1031220,200101073,PANDYA PRANSHU,Computer Science and Engineering
74,35,2095075,200101074,PANKAJ YADAV,Computer Science and Engineering
75,2,1026015,200101075,PATEL BHOOMIRAJ RANJITBHAI,Computer Science and Engineering
76,0,1004120,200101076,PATEL HETANG SANJAYKUMAR,Computer Science and Engineering
77,18,1143076,200101077,PAURAS MANOJ TARLE,Computer Science and Engineering
78,62,4052126,200101078,PINKEE KUMARI SINGH,Computer Science and Engineering
79,91,6202261,200101079,PODDUTOORI SWEEYA REDDY,Computer Science and Engineering
80,23,2035101,200101080,PRADEEP KUMAR,Computer Science and Engineering
81,69,5035163,200101081,PRAKHAR PANDEY,Computer Science and Engineering
82,39,2101016,200101082,PRANAV NAIR,Computer Science and Engineering
83,60,4040348,200101083,PRANJAL BARANWAL,Computer Science and Engineering
84,58,4034085,200101084,PRANJAL SINGH,Computer Science and Engineering
85,4,1031218,200101085,PRANSHU,Computer Science and Engineering
86,31,2082299,200101086,PRANSHU KANDOI,Computer Science and Engineering
87,17,1138007,200101087,PRATHAM PEKAMWAR,Computer Science and Engineering
88,10,1053036,200101088,PRUTHVI RAJ G N,Computer Science and Engineering
89,29,2077244,200101089,RAVI KUMAR,Computer Science and Engineering
90,44,2118051,200101090,RIPUDAMAN SINGH,Computer Science and Engineering
91,20,2018003,200101091,SATVIK TIWARI,Computer Science and Engineering
92,63,4070040,200101092,SHASHANK SINGH,Computer Science and Engineering
93,70,5035492,200101093,SIDDHARTH BANSAL,Computer Science and Engineering
94,6,1040159,200101094,SIDDHARTH HEMANT KHINCHA,Computer Science and Engineering
95,107,7035359,200101095,SIDHARTH CHOUDHARY,Computer Science and Engineering
96,51,3087115,200101096,SOURADEEP KAR,Computer Science and Engineering
97,12,1081148,200101097,SUJEET NARAYAN KAMBLE,Computer Science and Engineering
98,21,2019081,200101098,TANVEEN,Computer Science and Engineering
99,72,5063009,200101099,TAPAN SETHI,Computer Science and Engineering
100,11,1060053,200101100,UJWAL KUMAR,Computer Science and Engineering
101,101,7004086,200101101,VANI KRISHNA BARLA,Computer Science and Engineering
102,55,4013123,200101102,VANSH RATHORE,Computer Science and Engineering
103,100,7001090,200101103,VANSHITA,Computer Science and Engineering
104,66,5024003,200101104,VASIREDDI MOHITH SAI,Computer Science and Engineering
105,8,1050025,200101105,VATSAL GUPTA,Computer Science and Engineering
106,80,6081006,200101106,VINEETH CHOWDARY CHAGANTI,Computer Science and Engineering
107,3,1027062,200101107,VIRAJ GOYANKA,Computer Science and Engineering
108,32,2088036,200101108,VISHAL BULCHANDANI,Computer Science and Engineering
109,49,3040044,200101109,VISHAL KUMAR,Computer Science and Engineering
110,40,2101321,200101110,VISHAL MEENA,Computer Science and Engineering
111,76,6042052,200101111,YAKKALA HEMA VENKAT RAO,Computer Science and Engineering
112,37,2100085,200101112,YASH AGARWAL,Computer Science and Engineering
113,105,7026161,200101113,YASH GARG,Computer Science and Engineering
114,85,6105031,200101114,YENUGONDA SUMA SHREE,Computer Science and Engineering

In [41]:
df2.Name[1].split(" ")

['AADARSHRAJ', 'SAH']

In [50]:
i=1
list=[]
while(i<=114):
    list.append(df2.Name[i].split(" "))
    i+=1

In [43]:
list

[['AADARSHRAJ', 'SAH'],
 ['AADI', 'AARYA', 'CHANDRA'],
 ['ABBURI', 'CHARISHMA'],
 ['ABHINAV', 'AYUSH'],
 ['ABHINAV', 'KUMAR', 'CHOUDHARY'],
 ['ABHISHEK', 'KUMAR'],
 ['ADARSH', 'MALVIYA'],
 ['ADITYA', 'PATEL'],
 ['ADITYA', 'PATIDAR'],
 ['ADVAITA', 'MALLIK'],
 ['AKSHAT', 'MITTAL'],
 ['AMAN', 'SONI'],
 ['AMIT', 'SINGH', 'NAGNYAL'],
 ['AMJED', 'PARVAIZ'],
 ['ANINDYA', 'VIJAYVARGEEYA'],
 ['ANMOLDEEP', 'SINGH'],
 ['ANURAG', 'RAVI'],
 ['ARPAN', 'ANIL', 'KHANDARE'],
 ['ARTHI', 'SAI', 'AKSHITH'],
 ['ARYA', 'AVINASH', 'PHADKE'],
 ['ASHWITHA', 'BANOTH'],
 ['AYAN', 'GAUTAM'],
 ['BACHALAKURI', 'SAMUEL', 'SUNNY', 'KUMAR'],
 ['BHANU', 'RAJPUT'],
 ['BILLA', 'PRAMODH'],
 ['BOKKA', 'SRIVIDYA'],
 ['CHIGARAPALLY', 'CHANDRABHUSHAN', 'REDDY'],
 ['DEEP', 'KAUR'],
 ['DHANANJAI'],
 ['GANDRATHI', 'SRIJA'],
 ['GANJI', 'PALA', 'VENKI', 'REDDY'],
 ['GANNOJU', 'MANIDEEPAK'],
 ['GAURAV', 'KUMAR'],
 ['GHONGADE', 'ROHIT', 'KANBA'],
 ['GUDLA', 'MAHESH', 'SAI', 'RAJ'],
 ['GUNDAMEEDI', 'SAI', 'RAM', 'MOHAN'],
 ['GUNJAL', 'OM', 'SAHEBRAO'],
 ['GUNJAN', 'DHANUKA'],
 ['HARSHITA', 'KABRA'],
 ['HARSHWARDHAN', 'NITIN', 'BHAKKAD'],
 ['HEMANT', 'KUMAR', 'MEENA'],
 ['HIMANSHU', 'SHEKHAR'],
 ['HIMANSHU', 'YADAV'],
 ['HRIDYANSHU', 'KUMAR'],
 ['ISHITA', 'SHASHNI'],
 ['JERAM', 'NIHARIKA'],
 ['KAKUNURI', 'MANIDEEP', 'REDDY'],
 ['KALANGI', 'SATHVIKA'],
 ['KANCHUMARTHI', 'H', 'PRAVALLIKA'],
 ['KANDULA', 'SRAVYA'],
 ['KAPULURU', 'VIKAS', 'REDDY'],
 ['KARRI', 'SAI', 'VAMSHI'],
 ['KARTIK', 'MALASIYA'],
 ['KARTIK', 'SHARMA'],
 ['KARTIKEY', 'GUPTA'],
 ['KILAPARTHI', 'HEEMANTH'],
 ['KIRTI', 'BANSODE'],
 ['KOTHAPALLI', 'KUMUDHAVALLI'],
 ['LENKA', 'LOHITH'],
 ['LOKESH', 'NAHAR'],
 ['M', 'SAMSON'],
 ['MAHEK', 'BHAVESH', 'VORA'],
 ['MANAN', 'PARIHAR'],
 ['MANSI'],
 ['MIHIR', 'SAGAR'],
 ['MINALI', 'MANHAR'],
 ['MOHIT', 'KUMAR'],
 ['MUKUL'],
 ['MUKUL', 'LAKRA'],
 ['NAMAN', 'ANAND'],
 ['NANDIGRAMA', 'NAGA', 'VENKATA', 'HAREESH'],
 ['PAIDE', 'ASHISH'],
 ['PANDYA', 'PRANSHU'],
 ['PANKAJ', 'YADAV'],
 ['PATEL', 'BHOOMIRAJ', 'RANJITBHAI'],
 ['PATEL', 'HETANG', 'SANJAYKUMAR'],
 ['PAURAS', 'MANOJ', 'TARLE'],
 ['PINKEE', 'KUMARI', 'SINGH'],
 ['PODDUTOORI', 'SWEEYA', 'REDDY'],
 ['PRADEEP', 'KUMAR'],
 ['PRAKHAR', 'PANDEY'],
 ['PRANAV', 'NAIR'],
 ['PRANJAL', 'BARANWAL'],
 ['PRANJAL', 'SINGH'],
 ['PRANSHU'],
 ['PRANSHU', 'KANDOI'],
 ['PRATHAM', 'PEKAMWAR'],
 ['PRUTHVI', 'RAJ', 'G', 'N'],
 ['RAVI', 'KUMAR'],
 ['RIPUDAMAN', 'SINGH'],
 ['SATVIK', 'TIWARI'],
 ['SHASHANK', 'SINGH'],
 ['SIDDHARTH', 'BANSAL'],
 ['SIDDHARTH', 'HEMANT', 'KHINCHA'],
 ['SIDHARTH', 'CHOUDHARY'],
 ['SOURADEEP', 'KAR'],
 ['SUJEET', 'NARAYAN', 'KAMBLE'],
 ['TANVEEN'],
 ['TAPAN', 'SETHI'],
 ['UJWAL', 'KUMAR'],
 ['VANI', 'KRISHNA', 'BARLA'],
 ['VANSH', 'RATHORE'],
 ['VANSHITA'],
 ['VASIREDDI', 'MOHITH', 'SAI'],
 ['VATSAL', 'GUPTA'],
 ['VINEETH', 'CHOWDARY', 'CHAGANTI'],
 ['VIRAJ', 'GOYANKA'],
 ['VISHAL', 'BULCHANDANI'],
 ['VISHAL', 'KUMAR'],
 ['VISHAL', 'MEENA'],
 ['YAKKALA', 'HEMA', 'VENKAT', 'RAO'],
 ['YASH', 'AGARWAL'],
 ['YASH', 'GARG'],
 ['YENUGONDA', 'SUMA', 'SHREE']]

In [45]:
total=[]
for j in list:
    total+=j
total

['AADARSHRAJ',
 'SAH',
 'AADI',
 'AARYA',
 'CHANDRA',
 'ABBURI',
 'CHARISHMA',
 'ABHINAV',
 'AYUSH',
 'ABHINAV',
 'KUMAR',
 'CHOUDHARY',
 'ABHISHEK',
 'KUMAR',
 'ADARSH',
 'MALVIYA',
 'ADITYA',
 'PATEL',
 'ADITYA',
 'PATIDAR',
 'ADVAITA',
 'MALLIK',
 'AKSHAT',
 'MITTAL',
 'AMAN',
 'SONI',
 'AMIT',
 'SINGH',
 'NAGNYAL',
 'AMJED',
 'PARVAIZ',
 'ANINDYA',
 'VIJAYVARGEEYA',
 'ANMOLDEEP',
 'SINGH',
 'ANURAG',
 'RAVI',
 'ARPAN',
 'ANIL',
 'KHANDARE',
 'ARTHI',
 'SAI',
 'AKSHITH',
 'ARYA',
 'AVINASH',
 'PHADKE',
 'ASHWITHA',
 'BANOTH',
 'AYAN',
 'GAUTAM',
 'BACHALAKURI',
 'SAMUEL',
 'SUNNY',
 'KUMAR',
 'BHANU',
 'RAJPUT',
 'BILLA',
 'PRAMODH',
 'BOKKA',
 'SRIVIDYA',
 'CHIGARAPALLY',
 'CHANDRABHUSHAN',
 'REDDY',
 'DEEP',
 'KAUR',
 'DHANANJAI',
 'GANDRATHI',
 'SRIJA',
 'GANJI',
 'PALA',
 'VENKI',
 'REDDY',
 'GANNOJU',
 'MANIDEEPAK',
 'GAURAV',
 'KUMAR',
 'GHONGADE',
 'ROHIT',
 'KANBA',
 'GUDLA',
 'MAHESH',
 'SAI',
 'RAJ',
 'GUNDAMEEDI',
 'SAI',
 'RAM',
 'MOHAN',
 'GUNJAL',
 'OM',
 'SAHEBRAO',
 'GUNJAN',
 'DHANUKA',
 'HARSHITA',
 'KABRA',
 'HARSHWARDHAN',
 'NITIN',
 'BHAKKAD',
 'HEMANT',
 'KUMAR',
 'MEENA',
 'HIMANSHU',
 'SHEKHAR',
 'HIMANSHU',
 'YADAV',
 'HRIDYANSHU',
 'KUMAR',
 'ISHITA',
 'SHASHNI',
 'JERAM',
 'NIHARIKA',
 'KAKUNURI',
 'MANIDEEP',
 'REDDY',
 'KALANGI',
 'SATHVIKA',
 'KANCHUMARTHI',
 'H',
 'PRAVALLIKA',
 'KANDULA',
 'SRAVYA',
 'KAPULURU',
 'VIKAS',
 'REDDY',
 'KARRI',
 'SAI',
 'VAMSHI',
 'KARTIK',
 'MALASIYA',
 'KARTIK',
 'SHARMA',
 'KARTIKEY',
 'GUPTA',
 'KILAPARTHI',
 'HEEMANTH',
 'KIRTI',
 'BANSODE',
 'KOTHAPALLI',
 'KUMUDHAVALLI',
 'LENKA',
 'LOHITH',
 'LOKESH',
 'NAHAR',
 'M',
 'SAMSON',
 'MAHEK',
 'BHAVESH',
 'VORA',
 'MANAN',
 'PARIHAR',
 'MANSI',
 'MIHIR',
 'SAGAR',
 'MINALI',
 'MANHAR',
 'MOHIT',
 'KUMAR',
 'MUKUL',
 'MUKUL',
 'LAKRA',
 'NAMAN',
 'ANAND',
 'NANDIGRAMA',
 'NAGA',
 'VENKATA',
 'HAREESH',
 'PAIDE',
 'ASHISH',
 'PANDYA',
 'PRANSHU',
 'PANKAJ',
 'YADAV',
 'PATEL',
 'BHOOMIRAJ',
 'RANJITBHAI',
 'PATEL',
 'HETANG',
 'SANJAYKUMAR',
 'PAURAS',
 'MANOJ',
 'TARLE',
 'PINKEE',
 'KUMARI',
 'SINGH',
 'PODDUTOORI',
 'SWEEYA',
 'REDDY',
 'PRADEEP',
 'KUMAR',
 'PRAKHAR',
 'PANDEY',
 'PRANAV',
 'NAIR',
 'PRANJAL',
 'BARANWAL',
 'PRANJAL',
 'SINGH',
 'PRANSHU',
 'PRANSHU',
 'KANDOI',
 'PRATHAM',
 'PEKAMWAR',
 'PRUTHVI',
 'RAJ',
 'G',
 'N',
 'RAVI',
 'KUMAR',
 'RIPUDAMAN',
 'SINGH',
 'SATVIK',
 'TIWARI',
 'SHASHANK',
 'SINGH',
 'SIDDHARTH',
 'BANSAL',
 'SIDDHARTH',
 'HEMANT',
 'KHINCHA',
 'SIDHARTH',
 'CHOUDHARY',
 'SOURADEEP',
 'KAR',
 'SUJEET',
 'NARAYAN',
 'KAMBLE',
 'TANVEEN',
 'TAPAN',
 'SETHI',
 'UJWAL',
 'KUMAR',
 'VANI',
 'KRISHNA',
 'BARLA',
 'VANSH',
 'RATHORE',
 'VANSHITA',
 'VASIREDDI',
 'MOHITH',
 'SAI',
 'VATSAL',
 'GUPTA',
 'VINEETH',
 'CHOWDARY',
 'CHAGANTI',
 'VIRAJ',
 'GOYANKA',
 'VISHAL',
 'BULCHANDANI',
 'VISHAL',
 'KUMAR',
 'VISHAL',
 'MEENA',
 'YAKKALA',
 'HEMA',
 'VENKAT',
 'RAO',
 'YASH',
 'AGARWAL',
 'YASH',
 'GARG',
 'YENUGONDA',
 'SUMA',
 'SHREE']

In [46]:
simple=set(total)
simple

{'AADARSHRAJ',
 'AADI',
 'AARYA',
 'ABBURI',
 'ABHINAV',
 'ABHISHEK',
 'ADARSH',
 'ADITYA',
 'ADVAITA',
 'AGARWAL',
 'AKSHAT',
 'AKSHITH',
 'AMAN',
 'AMIT',
 'AMJED',
 'ANAND',
 'ANIL',
 'ANINDYA',
 'ANMOLDEEP',
 'ANURAG',
 'ARPAN',
 'ARTHI',
 'ARYA',
 'ASHISH',
 'ASHWITHA',
 'AVINASH',
 'AYAN',
 'AYUSH',
 'BACHALAKURI',
 'BANOTH',
 'BANSAL',
 'BANSODE',
 'BARANWAL',
 'BARLA',
 'BHAKKAD',
 'BHANU',
 'BHAVESH',
 'BHOOMIRAJ',
 'BILLA',
 'BOKKA',
 'BULCHANDANI',
 'CHAGANTI',
 'CHANDRA',
 'CHANDRABHUSHAN',
 'CHARISHMA',
 'CHIGARAPALLY',
 'CHOUDHARY',
 'CHOWDARY',
 'DEEP',
 'DHANANJAI',
 'DHANUKA',
 'G',
 'GANDRATHI',
 'GANJI',
 'GANNOJU',
 'GARG',
 'GAURAV',
 'GAUTAM',
 'GHONGADE',
 'GOYANKA',
 'GUDLA',
 'GUNDAMEEDI',
 'GUNJAL',
 'GUNJAN',
 'GUPTA',
 'H',
 'HAREESH',
 'HARSHITA',
 'HARSHWARDHAN',
 'HEEMANTH',
 'HEMA',
 'HEMANT',
 'HETANG',
 'HIMANSHU',
 'HRIDYANSHU',
 'ISHITA',
 'JERAM',
 'KABRA',
 'KAKUNURI',
 'KALANGI',
 'KAMBLE',
 'KANBA',
 'KANCHUMARTHI',
 'KANDOI',
 'KANDULA',
 'KAPULURU',
 'KAR',
 'KARRI',
 'KARTIK',
 'KARTIKEY',
 'KAUR',
 'KHANDARE',
 'KHINCHA',
 'KILAPARTHI',
 'KIRTI',
 'KOTHAPALLI',
 'KRISHNA',
 'KUMAR',
 'KUMARI',
 'KUMUDHAVALLI',
 'LAKRA',
 'LENKA',
 'LOHITH',
 'LOKESH',
 'M',
 'MAHEK',
 'MAHESH',
 'MALASIYA',
 'MALLIK',
 'MALVIYA',
 'MANAN',
 'MANHAR',
 'MANIDEEP',
 'MANIDEEPAK',
 'MANOJ',
 'MANSI',
 'MEENA',
 'MIHIR',
 'MINALI',
 'MITTAL',
 'MOHAN',
 'MOHIT',
 'MOHITH',
 'MUKUL',
 'N',
 'NAGA',
 'NAGNYAL',
 'NAHAR',
 'NAIR',
 'NAMAN',
 'NANDIGRAMA',
 'NARAYAN',
 'NIHARIKA',
 'NITIN',
 'OM',
 'PAIDE',
 'PALA',
 'PANDEY',
 'PANDYA',
 'PANKAJ',
 'PARIHAR',
 'PARVAIZ',
 'PATEL',
 'PATIDAR',
 'PAURAS',
 'PEKAMWAR',
 'PHADKE',
 'PINKEE',
 'PODDUTOORI',
 'PRADEEP',
 'PRAKHAR',
 'PRAMODH',
 'PRANAV',
 'PRANJAL',
 'PRANSHU',
 'PRATHAM',
 'PRAVALLIKA',
 'PRUTHVI',
 'RAJ',
 'RAJPUT',
 'RAM',
 'RANJITBHAI',
 'RAO',
 'RATHORE',
 'RAVI',
 'REDDY',
 'RIPUDAMAN',
 'ROHIT',
 'SAGAR',
 'SAH',
 'SAHEBRAO',
 'SAI',
 'SAMSON',
 'SAMUEL',
 'SANJAYKUMAR',
 'SATHVIKA',
 'SATVIK',
 'SETHI',
 'SHARMA',
 'SHASHANK',
 'SHASHNI',
 'SHEKHAR',
 'SHREE',
 'SIDDHARTH',
 'SIDHARTH',
 'SINGH',
 'SONI',
 'SOURADEEP',
 'SRAVYA',
 'SRIJA',
 'SRIVIDYA',
 'SUJEET',
 'SUMA',
 'SUNNY',
 'SWEEYA',
 'TANVEEN',
 'TAPAN',
 'TARLE',
 'TIWARI',
 'UJWAL',
 'VAMSHI',
 'VANI',
 'VANSH',
 'VANSHITA',
 'VASIREDDI',
 'VATSAL',
 'VENKAT',
 'VENKATA',
 'VENKI',
 'VIJAYVARGEEYA',
 'VIKAS',
 'VINEETH',
 'VIRAJ',
 'VISHAL',
 'VORA',
 'YADAV',
 'YAKKALA',
 'YASH',
 'YENUGONDA'}

In [48]:
count = 0
for ele in simple:
        count = 0
        for p in total:
            if (ele == p): 
                count = count + 1
        if(count>1):
            print(ele,'is occuring',count,'times')

VISHAL is occuring 3 times
CHOUDHARY is occuring 2 times
RAJ is occuring 2 times
PATEL is occuring 3 times
RAVI is occuring 2 times
MUKUL is occuring 2 times
HIMANSHU is occuring 2 times
PRANSHU is occuring 3 times
HEMANT is occuring 2 times
KARTIK is occuring 2 times
SINGH is occuring 6 times
PRANJAL is occuring 2 times
SIDDHARTH is occuring 2 times
YASH is occuring 2 times
MEENA is occuring 2 times
ADITYA is occuring 2 times
KUMAR is occuring 11 times
REDDY is occuring 5 times
YADAV is occuring 2 times
SAI is occuring 5 times
ABHINAV is occuring 2 times
GUPTA is occuring 2 times

In [58]:
df4=pd.read_csv("BTech_2020-converted.csv")
i=0
blast=[]
while(i<891):
    blast.append(df4.Name[i].split(" "))
    i+=1
total4=[]
for j4 in blast:
    total4+=j4
simple4=set(total4)
count4 = 0
for ele4 in simple4:
        count4 = 0
        for p4 in total4:
            if (ele4 == p4): 
                count4 = count4 + 1
        if(count4>1):
            print(ele4,'is occuring',count4,'times')
            
#simple4
#total4
#blast.clear()   
#blast

AVINASH is occuring 8 times
NAMAN is occuring 2 times
MEGHA is occuring 2 times
PAL is occuring 4 times
AMRESH is occuring 2 times
TEJA is occuring 2 times
RAJ is occuring 15 times
ATHARVA is occuring 3 times
DHUSIA is occuring 2 times
SANJAY is occuring 3 times
CHETAN is occuring 2 times
VISHWAKARMA is occuring 2 times
SURYA is occuring 2 times
BATHULA is occuring 2 times
KARTHIK is occuring 2 times
PATEL is occuring 8 times
G is occuring 2 times
SUDIPTA is occuring 2 times
RAVI is occuring 4 times
SHUBHAM is occuring 3 times
CHOUHAN is occuring 2 times
MUKUL is occuring 2 times
AMOGH is occuring 2 times
KAUSHIK is occuring 2 times
SARKAR is occuring 2 times
ANAND is occuring 7 times
LAKSHYA is occuring 4 times
SYED is occuring 2 times
SHRIDHAR is occuring 2 times
SHRUTI is occuring 2 times
VAMSHI is occuring 2 times
SUMIT is occuring 2 times
MONDAL is occuring 2 times
SHUKLA is occuring 2 times
AGARWAL is occuring 7 times
RAJAN is occuring 2 times
GOEL is occuring 2 times
ARNAV is occuring 2 times
BHARDWAJ is occuring 3 times
ABHISHEK is occuring 4 times
PRANSHU is occuring 3 times
VIKAS is occuring 4 times
ARYAN is occuring 5 times
SURAJ is occuring 2 times
SAKSHI is occuring 2 times
SARTHAK is occuring 3 times
BIND is occuring 2 times
DATTA is occuring 2 times
SAINI is occuring 2 times
PRATIK is occuring 2 times
TANMAY is occuring 2 times
SHANKAR is occuring 4 times
VENKAT is occuring 2 times
SHARMA is occuring 16 times
SHREYA is occuring 2 times
ARCHIT is occuring 2 times
TIWARI is occuring 4 times
JAIN is occuring 11 times
AYUSH is occuring 4 times
KUMAR is occuring 94 times
NITIN is occuring 2 times
NAVEEN is occuring 3 times
ASHOK is occuring 2 times
ROHAN is occuring 3 times
DESHMUKH is occuring 2 times
THAKUR is occuring 2 times
VIKRAM is occuring 2 times
PANKAJ is occuring 4 times
ABHINAV is occuring 3 times
M is occuring 4 times
AGRAWAL is occuring 7 times
KHUSHI is occuring 4 times
PAVAN is occuring 2 times
DAS is occuring 10 times
VENKATA is occuring 6 times
ALAM is occuring 2 times
PRAJAPATI is occuring 2 times
CHOUDHARY is occuring 7 times
MISHRA is occuring 5 times
GOURI is occuring 2 times
NAHAR is occuring 2 times
GOYAL is occuring 3 times
NATH is occuring 2 times
BOKKA is occuring 2 times
BRAHMA is occuring 2 times
JAISWAL is occuring 3 times
ROHIT is occuring 4 times
DESAI is occuring 2 times
GAUTAM is occuring 4 times
LOKESH is occuring 4 times
DHRUV is occuring 5 times
BANOTH is occuring 3 times
PRAKASH is occuring 5 times
JASH is occuring 2 times
ARPIT is occuring 2 times
UPADHYAY is occuring 2 times
SHRIVASTAVA is occuring 3 times
PATIDAR is occuring 2 times
DAKSH is occuring 2 times
HEMANT is occuring 3 times
NIGAM is occuring 2 times
SAKSHAM is occuring 3 times
SAH is occuring 3 times
KAUR is occuring 2 times
KARTIK is occuring 5 times
VIJAY is occuring 2 times
JHA is occuring 2 times
ANURAG is occuring 6 times
PRANJAL is occuring 2 times
GAURAV is occuring 2 times
BASUMATARY is occuring 2 times
KESAVA is occuring 2 times
SURESH is occuring 2 times
VANSHITA is occuring 2 times
MAHESHWARI is occuring 3 times
SOUMYA is occuring 2 times
PRATEEK is occuring 2 times
PRADIPKUMAR is occuring 2 times
NAIDU is occuring 2 times
TYAGI is occuring 2 times
AMAN is occuring 8 times
PATHAK is occuring 2 times
CHAUDHARY is occuring 2 times
S is occuring 10 times
NITISH is occuring 2 times
MANISH is occuring 4 times
ADITYA is occuring 13 times
MAHENDRA is occuring 2 times
SAGAR is occuring 2 times
SURYANSH is occuring 2 times
DIKSHA is occuring 2 times
AKSHAY is occuring 2 times
SANSKAR is occuring 2 times
RAY is occuring 2 times
TUSHAR is occuring 2 times
MOHIT is occuring 5 times
MANOJ is occuring 2 times
SAI is occuring 14 times
KHAN is occuring 2 times
BANSAL is occuring 6 times
HARSH is occuring 10 times
GARG is occuring 7 times
SATYAM is occuring 3 times
PRANAV is occuring 3 times
JOSHI is occuring 4 times
ANIL is occuring 5 times
DEVESH is occuring 2 times
GAURANG is occuring 2 times
RITESH is occuring 2 times
VINOD is occuring 3 times
MOHAMMAD is occuring 2 times
NARAYAN is occuring 2 times
ESHAN is occuring 2 times
CHARAN is occuring 2 times
KHANDELWAL is occuring 4 times
LAKSHMI is occuring 2 times
SRISHTI is occuring 2 times
JAHNAVI is occuring 2 times
GOUTHAM is occuring 2 times
AMIT is occuring 2 times
SHAIK is occuring 2 times
ROY is occuring 2 times
DHANRAJ is occuring 2 times
MANSI is occuring 2 times
RAWAT is occuring 2 times
MD is occuring 2 times
RAHUL is occuring 8 times
VERMA is occuring 6 times
CHANDRA is occuring 3 times
DESHPANDE is occuring 2 times
RAMESH is occuring 2 times
CHAITANYA is occuring 3 times
VARSHITHA is occuring 2 times
SHIVAM is occuring 4 times
KARAN is occuring 4 times
PANDEY is occuring 6 times
KUMARI is occuring 6 times
MIHIR is occuring 2 times
SIDDHANT is occuring 3 times
ANMOL is occuring 2 times
SHAH is occuring 4 times
SUDHIR is occuring 2 times
GUJJU is occuring 2 times
SIDDHARTH is occuring 6 times
DEEPANSHU is occuring 2 times
ADEPU is occuring 2 times
VARDHAN is occuring 3 times
RAM is occuring 5 times
SUNIL is occuring 2 times
P is occuring 2 times
BAJAJ is occuring 2 times
ANKIT is occuring 4 times
MAHESH is occuring 2 times
YASH is occuring 6 times
PRASAD is occuring 3 times
PARIHAR is occuring 2 times
MEENA is occuring 9 times
BORO is occuring 3 times
A is occuring 2 times
VINAY is occuring 2 times
BALAJI is occuring 2 times
DINESH is occuring 3 times
ARPAN is occuring 2 times
SAHIL is occuring 4 times
PAWAR is occuring 2 times
YADAV is occuring 17 times
PRATHAM is occuring 3 times
RAJESH is occuring 2 times
SINGARIA is occuring 2 times
NIHARIKA is occuring 2 times
KRISHNA is occuring 5 times
RAVINDRA is occuring 3 times
PRIYANSHU is occuring 3 times
VISHAL is occuring 5 times
B is occuring 2 times
RISHABH is occuring 2 times
RANA is occuring 3 times
DEVANSH is occuring 2 times
TRIPATHI is occuring 3 times
RANJAN is occuring 4 times
SAMUEL is occuring 2 times
RAJPUT is occuring 4 times
U is occuring 2 times
ASHUTOSH is occuring 2 times
AAYUSH is occuring 3 times
DEEPAK is occuring 2 times
KASHISH is occuring 2 times
AARYAN is occuring 2 times
DNYANESHWAR is occuring 2 times
RAO is occuring 4 times
HIMANSHU is occuring 3 times
RISHI is occuring 2 times
TIYASA is occuring 2 times
ARORA is occuring 2 times
NAGA is occuring 4 times
KAILASH is occuring 2 times
ABHIJEET is occuring 4 times
HARSHITA is occuring 2 times
SHENDE is occuring 2 times
GANESH is occuring 3 times
AKANKSHA is occuring 2 times
PIYUSH is occuring 6 times
SAURABH is occuring 3 times
VIVEK is occuring 3 times
NIDHI is occuring 2 times
DEV is occuring 2 times
SHREE is occuring 3 times
DEEP is occuring 3 times
MALVIYA is occuring 3 times
ADARSH is occuring 3 times
SHASHANK is occuring 5 times
DIVYANSHU is occuring 2 times
KISHORE is occuring 2 times
SINGH is occuring 36 times
BHAVESH is occuring 2 times
KAMBLE is occuring 2 times
DEVANSHI is occuring 2 times
MAHEK is occuring 2 times
KUNAL is occuring 3 times
AVI is occuring 2 times
SINHA is occuring 3 times
SRI is occuring 3 times
ASHISH is occuring 6 times
PRATAP is occuring 4 times
SONI is occuring 4 times
SOHAM is occuring 4 times
RAJENDRA is occuring 2 times
ANUJ is occuring 2 times
RAGHAV is occuring 2 times
MITTAL is occuring 4 times
HARSHUL is occuring 2 times
REDDY is occuring 18 times
SHASHWAT is occuring 2 times
AGGARWAL is occuring 2 times
ARYA is occuring 2 times
BHARTI is occuring 2 times
SUNNY is occuring 3 times
PATIL is occuring 4 times
VARUN is occuring 2 times
MUKESH is occuring 2 times
PARTH is occuring 4 times
MANAN is occuring 2 times
KUSHWAHA is occuring 2 times
AKSHAT is occuring 6 times
GUPTA is occuring 20 times

In [1]:
import matplotlib as mpt